---
import { Speaker } from "../../scripts/api/sessionize_api";
import SpeakersLinks from "./SpeakersLinks.astro";

interface Props {
  speaker: Speaker;
}

const { speaker } = Astro.props;

const words = speaker.bio ? speaker.bio.split(" ") : [];
let body = words.slice(0, 20).join(" ");

const { twitter, instagram, facebook, websites, linkedin, github } = speaker;

if (words.length > 15) {
  body += "...";
}
---

<a
  href={`/speakers/${speaker.slug}`}
  class="bg-white p-3 h-full w-full shadow-md hover:shadow-lg flex flex-col items-center text-center duration-150 ease-in"
>
  <img
    src={speaker.profilePicture}
    alt={speaker.fullName}
    class="w-32 h-32 rounded-full"
  />
  <p class="my-2 font-medium">{speaker.fullName}</p>
  <p class="mb-4">{speaker.tagLine}</p>

  <p class="text-sm mb-2">{body}</p>

  <div class="mt-auto">
    <SpeakersLinks
      linkedin={linkedin}
      twitter={twitter}
      github={github}
      websites={websites}
      facebook={facebook}
      instagram={instagram}
    />
  </div>
</a>
