---
import { Collectionspeaker } from "astro:content";
import SpeakersLinks from "./SpeakersLinks.astro";

interface Props {
  speaker: Collectionspeaker<"speakers">;
}

const { speaker } = Astro.props;

const imgUrl = `/assets/images/speakers/${speaker.data.image}`;

const words = speaker.body.split(" ");
let body = words.slice(0, 20).join(" ");

const { twitter, instagram, facebook, websites, linkedin, github } =
  speaker.data;

if (words.length > 15) {
  body += "...";
}
---

<a
  href={`/speakers/${speaker.slug}`}
  class="bg-white p-3 shadow-md hover:shadow-lg flex flex-col items-center text-center duration-150 ease-in"
>
  <img src={imgUrl} alt={speaker.data.name} class="w-32 h-32 rounded-full" />
  <p class="my-2 font-semibold">{speaker.data.name}</p>
  <p class="mb-4">{speaker.data.tagline}</p>

  <p class="text-sm mb-2">{body}</p>

  <SpeakersLinks
  linkedin={speaker.data.linkedin}
  twitter={speaker.data.twitter}
  github={speaker.data.github}
  websites={speaker.data.websites}
  facebook={speaker.data.facebook}
  instagram={speaker.data.instagram}
/>
</a>
