---
import { CollectionEntry, getCollection, getEntry } from "astro:content";
import BaseLayout from "../../components/Common/BaseLayout.astro";
// 1. Generate a new path for every collection entry

interface Props {
  entry: CollectionEntry<"sessions">;
}

export async function getStaticPaths() {
  const sessions = await getCollection("sessions");
  return sessions.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

var date = entry.data.dateStart.toLocaleDateString("en-US", {
  day: "numeric",
  month: "short",
});

const start = entry.data.dateStart.toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "numeric",
});

const end = entry.data.dateEnd.toLocaleTimeString("en-US", {
  hour: "numeric",
  minute: "numeric",
});

var speaker = await getEntry(entry.data.speaker);
---

<BaseLayout pageTitle="Sessions">
  <h2 class="text-4xl mb-3">{entry.data.title}</h2>
  <div class="flex flex-wrap gap-2 mb-6">
    <div class="py-1 px-2 rounded-md bg-green-600 text-white">
      <span class="text-sm">{entry.data.level}</span>
    </div>

    {
      entry.data.tags.map((t) => (
        <div class="py-1 px-2 rounded-md bg-gray-200 text-gray-800">
          <span class="text-sm">{t}</span>
        </div>
      ))
    }
  </div>
  <div class="mb-6">
    <p class="text-lg">{entry.data.location}</p>
    <p class="text-lg">{date}, {start} - {end}</p>
  </div>
  <Content />
  <div class="mt-10">
    <p class="text-3xl mb-6">Speakers</p>

    <a
      href={`/speakers/${speaker.slug}`}
      class="flex md:flex-row flex-col items-center mb-6"
    >
      <div class="flex-none w-24 mb-2">
        <img
          src={`/assets/images/speakers/${speaker.data.image}`}
          alt={speaker.data.name}
          class="rounded-full"
        />
      </div>
      <div class="flex-1 pl-6 flex flex-col md:items-start items-center">
        <h2 class="text-4xl mb-1">{speaker.data.name}</h2>
        <p class="text-lg mb-3">{speaker.data.tagline}</p>
      </div>
    </a>
  </div>
</BaseLayout>
