---
import { Speaker } from "../../scripts/api/sessionize_api";

interface Props {
  speaker: Speaker;
}

const { speaker } = Astro.props;
---

<a
  href={`/speakers/${speaker.slug}`}
  class="bg-white p-3 flex flex-col items-center text-center"
>
  <img src={speaker.profilePicture} alt={speaker.fullName} class="w-32 h-32 rounded-full" />
  <p class="my-2 font-medium">{speaker.fullName}</p>
  <p >{speaker.tagLine}</p>
</a>
