---
import { getCollection } from "astro:content";

const external = await getCollection("externals");

const sponsors = external.filter((ext) => ext.data.type.startsWith("sponsor"));
const partners = external.filter((ext) => ext.data.type === "partner");
---

<div class="py-6 max-w-6xl lg:w-4/5 w-full m-auto px-4">
  <h2 class="text-6xl mb-10 font-bold">Sponsor</h2>
  <div
    class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10"
  >
    {
      sponsors.map((sponsor) => (
        <a
          href={sponsor.data.url}
          class="p-3 shadow-md hover:shadow-lg duration-100 ease-in"
        >
          <img src={sponsor.data.image} alt={sponsor.data.name} />
        </a>
      ))
    }
  </div>
  <h2 class="text-6xl mb-10 font-bold">Partner</h2>
  <div
    class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-flow-row gap-4 mb-10"
  >
    {
      partners.map((sponsor) => (
        <a
          href={sponsor.data.url}
          class="p-3 shadow-md hover:shadow-lg duration-100 ease-in"
        >
          <img src={sponsor.data.image} alt={sponsor.data.name} />
        </a>
      ))
    }
  </div>
</div>
