---
import BaseLayout from "../../components/Common/BaseLayout.astro";
import { Speaker, getSpeakers } from "../../scripts/api/sessionize_api";
// 1. Generate a new path for every collection entry

interface Props {
  entry: Speaker;
}

export async function getStaticPaths() {
  const speakerEntries = await getSpeakers();
  return speakerEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
---

<BaseLayout pageTitle="Schedule">
  <div class="flex flex-col">
    <div class="flex md:flex-row flex-col items-center mb-10">
      <div class="flex-none w-40 mb-2">
        <img
          src={entry.profilePicture}
          alt={entry.fullName}
          class="rounded-full"
        />
      </div>
      <div class="flex-1 pl-6 flex flex-col md:items-start items-center">
        <h2 class="text-4xl mb-1">{entry.fullName}</h2>
        <p class="text-lg mb-3">{entry.tagline}</p>
        <!-- 
        {
          entry.data.community != null && (
            <div class="py-1 px-2 rounded-sm bg-green-600 text-white">
              {entry.data.community}
            </div>
          )
        } -->
        <div class="py-2"></div>
        <!-- <SpeakersLinks
          linkedin={entry.data.linkedin}
          twitter={entry.data.twitter}
          github={entry.data.github}
          websites={entry.data.websites}
          facebook={entry.data.facebook}
          instagram={entry.data.instagram}
        /> -->
      </div>
    </div>
    <p>{entry.bio}</p>
  </div>
</BaseLayout>
