---
import { pwaInfo } from 'virtual:pwa-info';
import { WebsiteConfig } from "../../config";

const { DEVFEST_NAME } = WebsiteConfig;

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
}

const {
  title,
  description = "Conference hosted by Google Developer Groups (GDG) ",
  keywords = "android, mobile, flutter, ai, conference, developer, machine learning, web, back-end, front-end, soft skills",
  author = "Google Developer Group Bari",
} = Astro.props;
---

<title>  {title ?? DEVFEST_NAME}</title>

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<link rel="stylesheet" href="/styles/fonts.css" />
<link rel="stylesheet" href="/styles/swup.css" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/pwa-192x192.webp" />
<link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="theme-color" content="#ffffff" />

<meta property="og:title" content={title ?? DEVFEST_NAME}>
<meta property="og:description" content={description}>
<meta property="og:image" content="/assets/images/social_thumb.webp">

{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
